<div class="flex-1 flex flex-col m-3">
  <p class="text-2xl font-bold mb-6">
    こどぐるサーチ　機能お品書き
  </p>
  <div>
    <p>
      　こどぐるサーチでは、ドラマ「孤独のグルメ」（シーズン1〜10, SP, 配信オリジナル）に登場した
      店舗を検索したり、写真や感想を投稿したりすることができます。<br>
      開発者のN氏は孤独のグルメが大好きです。聖地巡礼をしていきたいな、特化したサービスで写真とか感想を共有できたらいいな、
      という思いから開発をしました。初めての個人開発なので、拙い部分、行き届かない部分もあると思いますが、ぜひ一緒に楽しむことができたらと思います!
    <p>
  </div>
  <br>
  <p>
  ヘッダーのメニューアイコンを押すとサイドバーが開きますので、機能を選択してご利用ください。
  </p>
  <div class="mb-4">
    <p class="text-xl font-bold mb-2">①ログイン</p>
    <p>
      　アカウント作成ページで「名前」「メール」パスワード」を設定します。設定後、メール認証があります。<br>
      　ログインページからtwitter(x)認証を利用したログインもできます。<br>
      　登録した内容を変更したい場合は、ユーザー情報ページで変更できます。<br>
      　ログインしていない場合、利用できる機能は店舗検索、投稿閲覧に限られます。
    <p>
  </div>
  <div class="mb-4">
    <p class="text-xl font-bold mb-2">②店舗検索</p>
    <p>
      　「シーズン」「店舗名」「都道府県」「市区町村」の４つの条件を組み合わせて検索できます。<br>
      　「最寄りの店舗を探す」では、現在地から半径10km圏内の最寄りの店舗を検索します。（位置情報の利用許可が必要です）<br>
      　地図で探したい方は聖地巡礼マップも掲載していますので、ご利用ください。<br>
      <br>
      <ol class="list-inside list-disc">
        <p class="font-bold">注意</p>
        <li>掲載しているのは日本国内の店舗のみです。</li>
        <li>閉店情報のある店舗は掲載していません。（再開、または情報に誤りがある場合はご連絡ください）</li>
        <li>ドラマ登場時から移転している場合は、移転先の住所で掲載しています。</li>
      </ol>
    <p>
  </div>
  <div class="mb-4">
    <p class="text-xl font-bold mb-2">③リスト</p>
    <p>
      　店舗詳細画面から、「行った」「行きたい」「保留」のステータスを選択できます。<br>
      　マイリストページで、選択したステータスごとのリストを見ることができます。
    <p>
  </div>
  <div>
    <p class="text-xl font-bold mb-2">④投稿</p>
    <p>
      　店舗を検索していただき、店舗詳細画面から写真と感想を投稿できます。<br>
      　投稿できる写真は、１つの投稿につき１枚です。（複数枚対応は今後検討）<br>
      　投稿には、いいね、コメントをすることができます。また、コメントへの返信もできます。<br>
    <p>
  </div>
  <div class="mb-4">
    <p class="text-xl font-bold mb-2">⑤フォロー</p>
    <p>
      　各投稿のユーザー名はプロフィールへのリンクになっています。<br>
      　プロフィール画面にあるフォローボタンを押すとフォロー登録できます。<br>
        フォロー一覧ページで、フォローユーザー、フォロワーを確認できます。
    <p>
  </div>
  <div class="mb-4">
    <p class="text-xl font-bold mb-2">⑥通知</p>
    <p>
      　いいね、フォロー、投稿へのコメント、コメントへの返信があると、ヘッダーのベルマークが変化します。<br>
      　ベルマークを押すと、通知ページに移動し、内容を確認できます。
    <p>
  </div>
  <div class="mb-4">
    <p class="text-xl font-bold mb-2">⑦みんなの新着投稿</p>
    <p>
      　みんなの新着投稿ページでは、店舗全体の投稿を新着順で表示します。<br>
    <p>
  </div>
  <div class="mb-4">
    <p class="text-xl font-bold mb-2">⑧フォロー新着投稿</p>
    <p>
      　フォロー新着投稿ページでは、フォローユーザーの投稿を新着順で表示します。<br>
    <p>
  </div>



  
